---
import Layout from "../layouts/Layout.astro";


---

<Layout
    title="404 - Pagina non trovata"
    description="La pagina che stai cercando non esiste. Torna alla pagina principale o contattaci se pensi che sia un errore."
    canonical="https://studiomessini.com/404"
    ogImage="https://studiomessini.com/logo.webp"
    robots="noindex, nofollow"
    >

<h1 class="text-center mt-10 text-3xl font-bold">
    404 - Pagina non trovata
</h1>
<h2 class="text-xl font-bold mt-2 text-center">
    puoi tornare alla <a href="/" class="link ">pagina principale</a>
</h2>
<h3 class="text-lg font-bold text-center">
    Se pensi che questo sia un'errore, <a href="/navigable/contact">contattaci</a>
</h3>
</Layout>