---
import { Image } from 'astro:assets';
import heroLanding from '../assets/served/hero_photos/herohome3.webp';
import FontToggle from './FontToggle';
---
<!-- TODO aria accessibility and keyboard navigation -->
<div class="hero min-h-svh">

<Image
    loading="eager"
    src={heroLanding}
    alt="panoramica dello Studio Messini"
    class=" object-cover w-full h-full inset-0"

/>
<div class="bg-[rgba(0,0,0,0.6)] w-full h-full inset-0"> </div>  
<div class="hero-content text-center motion-reduce:opacity-100 not-motion-reduce:opacity-0 not-motion-reduce:animate-fadeIn">
    <div class="max-w-md
    lg:max-w-lg 
    flex flex-col 
    bg-base-100/90
    lg:p-20
    lg:mb-10
    p-8
    mb-20
    rounded-3xl">
      <h1 class="mb-5  text-black  text-4xl font-bold">Studio Logopedico Messini</h1>
      <h2 class="opacity-100 mb-5  text-black text-2xl leading-relaxed">uno studio all'avanguardia, con stanze dedicate al trattamento delle patologie. In centro a Latina</h2>
      <button id="button-hero-landing" class="btn btn-primary text-lg motion-reduce:opacity-100 not-motion-reduce:opacity-0 not-motion-reduce:animate-fadeIn-delay">Scopri di più</button>

      <div id="readability-section" class="mt-6 flex flex-col justify-center items-center gap-2 motion-reduce:opacity-100 not-motion-reduce:opacity-0 not-motion-reduce:animate-fadeIn-delay">
        <FontToggle client:only />
      </div>
    </div>
  </div>
</div>

<script>

  document.addEventListener("DOMContentLoaded", () => {

    const buttonHeroLanding = document.getElementById('button-hero-landing');

    if (buttonHeroLanding) {
      buttonHeroLanding.addEventListener('click', () => {
        window.location.href = 'navigable/about';
      });
    }

  });

  
</script>
